<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hada.mapper.TodoMapper">
    <!--  할 일 추가  -->
    <insert id="insertTodo">
        insert into todo
            (userId, userPwd, userMail, userName)
        values (#{userId}, #{userPwd}, #{userMail}, #{userName})
    </insert>
</mapper>